body {
  padding: 20px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  margin-bottom: 20px;
}

nav a {
  font-size: 24px;
}

#logo {
  font-size: 28px;
}

#ISBN {
  margin-bottom: 10px;
}

#buttonsGroup {
  display: flex;
  white-space: nowrap;
}

#buttonsGroup button, #btnAddFriend {
  background-color: #80bdff;
  color: black;
  display:inline-block;
  font-size: 14px;
  margin-bottom: 10px;
}

#buttonsGroup nav {
  flex: 0 1 50%;
}

#buttonsGroup main {
  flex: 0 1 40%;
}

#buttonsGroup aside {
  flex: 0 1 10%;
}